#hole{
  margin: 50px auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  background-color: #999;
  border-radius: 50%;
  box-shadow: inset 0px 6px 6px 1px rgba(0,0,0,0.15);
}
#bird{
  height: 50px;
  width: 50px;
  background-color: tomato;
  border-radius: 50%;
}
